<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% assets 'cdn_common_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets 'cdn_common_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets 'main_page_and_results_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom/common.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/search.png') }}">
</head>
<body>
{% include 'public/navigation.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col offset-1">
            <h2 class="pt-2">Документы</h2>
        </div>
    </div>
    {% for row in documents %}
        {% if loop.last %}
            <div class="row py-5">
        {% else %}
            <div class="row pt-5">
        {% endif %}
        {% for document in documents[row] %}
            {% if loop.first %}
                <div class="col offset-1">
            {% else %}
                <div class="col">
            {% endif %}
        <a class="nav-link text-dark float-left pr-3 py-0 pl-0" href="{{ url_for('watch_file', filename=document.doc_name + '.' + document.extension) }}">
            <h6>{{ document.doc_name }}</h6>
            <iframe width="600" height="450" src="{{ url_for('download_file', filename=document.doc_name + '.' + document.extension) }}#view=Fit"></iframe>
        </a>
        <a class="nav-link text-dark download_icon_style" href="{{ url_for('download_file', filename=document.doc_name + '.' + document.extension) }}" download>
            <i class="fas fa-download"></i>
        </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class='row align-items-center mt-5'>
            <div class='col-12'>
                <h4 class='text-center'>Документов нет!</h4>
            </div>
        </div>
    {% endfor %}
    </div>
    {% include 'public/modal_windows.html' %}
</body>
</html>