<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История поиска</title>
    {% assets 'cdn_common_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets 'history_common_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="icon" href="{{ url_for('static', filename='img/search.png') }}">
</head>
<body>
{% include 'public/navigation.html' %}
<div class="container-fluid float-left" id="docs-container">
    <div class="row">
        <div class="col offset-1">
            <h2 class="pt-2">История поиска</h2>
        </div>
    </div>
    {% for record in search_history_records %}
        {% if loop.last %}
            <div class="row py-5">
        {% else %}
            <div class="row pt-5">
        {% endif %}
    <div class="col-10 offset-1">
        <a class="nav-link text-dark float-left pr-3 py-0 pl-0"
           href="{{ url_for('search_by_query', search_query=record.search_query) }}">
            <h6>{{ record.search_query }}</h6>
            <span>{{ record.search_time }}</span>
        </a>
        <i class="fas fa-times align-self-center float-right fa-2x delete-doc"></i>
    </div>
    </div>
    {% else %}
        <div class='row align-items-center mt-5'>
            <div class='col-12'>
                <h4 class='text-center'>История поиска пуста!</h4>
            </div>
        </div>
    {% endfor %}
    </div>

    {% include 'public/search_history_search_panel.html' %}
    {% include 'public/modal_windows.html' %}
    {% assets 'cdn_common_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets 'search_history_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>