#search_query {
    width: 680px;
}

#label_modal_window_for_user {
    font-size: 18px;
    font-weight: 500;
    line-height: 2rem;
}

#avatar {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.email {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.1rem;
}

.download_icon_style,
.download_icon_style:hover,
.download_icon_style:active {
    margin-top: -0.5rem;
    width: 16px;
    height: 16px;
}

.btn-filter {
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

#account_dialog {
    top: 55px;
    right: 30px;
    position: absolute;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

.modal-backdrop.show {
    opacity: 0;
}